

* {
    box-sizing: border-box;
    overflow-x: hidden;
    text-shadow: 
    -1px -1px 0px #000,
     0px -1px 0px #000,
     1px -1px 0px #000,
    -1px  0px 0px #000,
     1px  0px 0px #000,
    -1px  1px 0px #000,
     0px  1px 0px #000,
     1px  1px 0px #000;
}

.buttonGroup:hover {
    text-decoration: underline;
    font-size: 22px;
}

input::placeholder {
    color: white;
}

/* Några enstaka css - stilar som jag valde att inte ha inline i övriga koden. Detta för att de gäller 
för större delar av appen. Eller att det är pseudo-classer. 
Dessa vet jag inte om man kan ha inline på ett snyggt sätt.*/