

* {
    box-sizing: border-box;
    overflow-x: hidden;
    text-shadow: 
    -1px -1px 0px #000,
     0px -1px 0px #000,
     1px -1px 0px #000,
    -1px  0px 0px #000,
     1px  0px 0px #000,
    -1px  1px 0px #000,
     0px  1px 0px #000,
     1px  1px 0px #000;
}

.buttonGroup:hover {
    text-decoration: underline;
    font-size: 22px;
}


